.contato_container{
    background-image: url("../img/contato/fundo_2.png");
}


.contato_container h1{
    font-size: 70px;
}

.titulo{
    background-color: rgba(255, 146, 74, 0.93);
}


/*Formulario*/

.quadroFormulario{
    background-color: #1a1a1ad3;
    width: 50%;
}

.quadroFormulario input{
    width: 100%;
}

.quadroFormulario div{
    width: 100%;
}


/*Informações*/


.dado{
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5a564;
    border-radius: 40px;
    padding: 10px;
    gap: 25px;
}


.dado i{
    font-size: 30px;
}


.rede_social{
    background-color: #212529 !important; 
    color: #f5a564 !important; 
    border-color: #f5a564 !important; 
}

.rede_social:hover {
    background-color: #f5a564 !important; 
    color: #212529 !important;
}


.inform_adicional button{
    font-size: 50px;
    width: 120px;
    height: 120px;
}




@media (max-width: 768px) {

    .quadroFormulario {
        width: 100%;
    }

    .dado{
        margin-bottom: 20px;
    }

    .inform_adicional{
        padding: 0;
    }

    .inform_adicional button{
        margin-bottom: 20px;
    }

    .container_dado{
        text-align: center;
        padding: 0;
    }

    .dado{
        display: flex;
        flex-direction: column;
    }

    .dado p{
        font-size: 16px;
    }

}

@media (max-width: 1195px) {

    .inform_adicional button{
        margin-bottom: 20px;
        width: 200px;
        height: 200px;
    }

    .dado{
        gap: 0;

    }

}




