

.resumo img{
    width: 500px;
    height: 300px;
}

.resumo{
    font-size: 24px;
}

.container_servicos{
    background-image: url("../img/home/fundo_1.png");
    color: #DF8248;
}

.maisServicos a {
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_servicos h3{
    font-size: 50px;
    font-weight: bold;
}

.container_servicos img{
    width: 280px;
    height: 280px;
    border: 5px solid #52210260;
}

.container_depoimentos{
    background: linear-gradient(180deg, rgba(30,30,30,1) 0%, rgba(223,130,72,1) 50%, rgba(237,139,78,1) 100%);
}

.comentarios{
    background-color: #222222af;
    min-width: 1200px !important;
    max-width: 1200px !important;
    min-height: 500px !important;
    max-height: 500px !important;
}

.Comentarios_carrossel{
    width: 800px;
    height: 300px;
}

.comentarios h4{
    font-size: 50px;
}

.comentarios p{
    font-size: 20px;
}

.autor img{
    height: 200px;
    width: 230px;
}





@media (max-width: 768px) {

    .comentarios{
        min-width: 300px !important;
        max-width: 300px !important;
        min-height: 700px !important;
        max-height: 700px !important;
    }

    .resumo{
        font-size: 18px;
    }

    .container_servicos{
        margin-top: 0px;
    }

}

@media (min-width: 769px) {

    .comentarios{
        min-width: 800px !important;
        max-width: 800px !important;
        min-height: 500px !important;
        max-height: 500px !important;
    }

}







