.item_ativo{
    font-weight: bold !important;
    color: #ffbb91 !important;
}

body{
    padding: 0;
    margin: 0;
    max-width: 100%!important;
    overflow-x: hidden
}

header{
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}



.inicio{
    padding-top: 102px !important;
}


.item_menu a{
    color: white;
}

.item_menu a:hover{
    color: #ffbb91 !important; 
}

.item_btn a{
    background-color: #ffa770 !important;
    color: #1c1c1c !important;
}

.item_btn a:hover{
    background-color: #ff8e32 !important;
}

.Agendar{
   background-color: #DF8248;
}

.logo img{
    width: 140px;
    height: 70px;
}

/*Rodape*/

.Rodape_1{
    background-color: #1c1c1c;
}

.logoRodape img{
    width: 200px;
    height: 120px;
}

.SociaisRodape i{
    font-size: 22px;
    transition: 0.4s;
}

.SociaisRodape i:hover{
    color: #ffbb91;
}

.Navegacao a{
    transition: 0.4s !important;
    text-decoration: none;
}

.Navegacao li{
    text-decoration: none;
    list-style: none;
}


.Navegacao a:hover{
    color: #ffbb91 !important;
}



@media (max-width: 768px) {

    .logoRodape{
        margin-bottom: 30px;
    }

    .Navegacao{
        margin-bottom: 30px;
    }

    .redesSociais i{
        font-size: 18px;
    }

    .redesSociais div{
        margin-bottom: 10px;
    }

    

}






